<app-loader *ngIf="loader" [fullContainer]="true"></app-loader>

<div class="chat" [ngClass]="{ hide: loader }">
  <div class="chat__container p-10">
    <div class="chat__container__wrapper">
      <div class="people-list p-y-30 p-l-30">
        <app-search
          [search]="searchStr"
          [(ngModel)]="searchStr"
          ngDefaultControl>
        </app-search>
        <ul class="people-list__list p-y-20 p-r-20">
          <app-user *ngFor="let u of users | filter : searchStr"
            [photo]="photo"
            [userId]="user.id"
            [user]="u"
          ></app-user>
        </ul>
      </div>
      <div class="chat-block">
        <div class="chat-block__header chat-header p-20">
          <img
            src="https://image.flaticon.com/icons/svg/134/134914.svg"
            alt="avatar"
          />
          <div class="chat-block__about p-l-10">
            <div class="chat-block__about--with">
              Chat in {{ user.room }} room
            </div>
            <div class="chat-block__about--messages">
              already {{ incomingMessages.length }} message(s)
            </div>
          </div>
          <div class="fa-wrapper">
            <i class="fa fa-sign-out" (click)="logout()"></i>
          </div>
        </div>
        <div class="chat-block__history p-t-30 p-x-30 p-b-20" #messagesRef>
          <app-loader *ngIf="messages.length === 0" [alignCenter]="true"></app-loader>
          <ul *ngIf="messages.length !== 0">
            <li class="clearfix" *ngFor="let data of messages">
              <div class="message__wrapper" *ngIf="data.id === user.id">
                <div class="message-data right m-b-15">
                  <span class="message-data--time p-r-5">
                    {{ data.time }}, Today
                  </span>
                  <span class="message-data--name">{{ data.name }}</span>
                  <i class="fa fa-circle me m-l-5"></i>
                </div>
                <div class="message message--owner float-right m-b-30 p-y-10 p-x-15">
                  {{ data.text }}
                </div>
              </div>
              <div *ngIf="data.id !== user.id">
                <div class="message-data m-b-15">
                  <span class="message-data--name">
                    <i class="fa fa-circle online"></i>{{ data.name }}
                  </span>
                  <span class="message-data--time p-l-5">
                    {{ data.time }}, Today</span>
                </div>
                <div class="message message--other m-b-30 p-y-10 p-x-15">
                  {{ data.text }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <app-send-message
          (sendMessage)="sendMessage($event)"
        ></app-send-message>
      </div>
    </div>
  </div>
</div>
