<div class="error">
  <div class="error__container p-10">
    <div class="error__container__wrapper p-t-55 p-b-35 p-x-55">
      <span class="error__title center p-b-25">Error 500</span>
      <span class="error__title center p-b-20">
        <i class="zmdi zmdi-alert-triangle"></i>
      </span>
      <div class="error__text center">
        <span class="text--base">The server encountered an internal error or misconfiguration and was unable to complete your request.
          Please contact the server administrator and inform him of the time the error occurred, and anything you might have done that may have caused the error.
        </span>
        <br>
        <a class="text--link" routerLink="/home">Back to login</a>
      </div>
    </div>
  </div>
</div>
