<div id="notfound">
  <div class="notfound">
    <div>
      <div class="notfound-500">
        <h1>!</h1>
      </div>
      <h2>Error<br />500</h2>
    </div>
    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.
      Please contact the server administrator and inform him of the time the error occurred, and anything you might have done that may have caused the error.
        <a routerLink="/home">Back to login</a>
    </p>
  </div>
</div>
