<app-loader *ngIf="loader" [fullContainer]="true"></app-loader>

<div id="app" [ngClass]="{'hidden': loader}">
  <div class="chat">
    <div class="chat-users collection">
      <a
        class="collection-item"
        *ngFor="let u of users"
        [ngClass]="{'active': u.id === user.id}"
      >
        {{ u.name }}
      </a>
    </div>
    <div class="chat-messages" #messagesRef>
      <div class="message"
        *ngFor="let data of messages"
        [ngClass]="{'owner': data.id === user.id}">

        <div class="message-content z-depth-1">
          {{ data.name }}: {{ data.text }}
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="input-field">
      <i class="material-icons prefix suffix active" (click)="onSendMessage()">send</i>
      <input
        [(ngModel)]="message"
        placeholder="Type your message:"
        type="text"
        autofocus
        autocomplete="false"
        (keydown.enter)="onSendMessage()"
      />
    </div>
    <button class="btn red accent-4 right" (click)="goBack()">Logout</button>
  </div>
</div>
