<form #loginForm="ngForm" class="login">
  <div class="card">
    <div class="card-content">
      <h4 class="card-title">Angular Sockets Chat!</h4>
      <div class="input-field">
        <input
          id="name"
          type="text"
          class="validate"
          name="name"
          ngModel
          required>
        <label for="name">Name:</label>
      </div>
      <div class="input-field">
        <input
          id="room"
          type="number"
          class="validate"
          name="room"
          ngModel
          required>
        <label for="room">Room:</label>
      </div>
      <div class="card-action">
        <button
          type="button"
          (click)="onEnterChat(loginForm)"
          class="waves-effect waves-light btn-small"
          [disabled]="!loginForm.valid">
            Enter chat
        </button>
      </div>
      <div class="progress" *ngIf="loader">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</form>
